.image{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;
}
.image:hover{
    cursor: pointer;
}

.main_profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}