.fp {
  width: 100%;
  max-width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:  3.4vw;
}

.fpItem{
  gap: 10px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}
.fpItem:hover{
  transform: scale(1.05);
}

.fpImg{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.fpName{
  color: #333;
  font-weight: bold;
  font-size:medium;
}

.fpCity{
  font-size:small;
}

.fpPrice{
  font-size:smaller;
}

.fpRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span{
  font-size: 14px;
}


.pListTitles>h1{
  font-size: medium;
  color: #444;
  text-transform: capitalize;
}

.pListTitles>h2{
  font-size: smaller;
}
.pListTitles>h3{
  font-size: smaller;
}