.navbar{
  height: calc(100vh-80vh);
  background-color: #3b3b77;
  display: flex;
  justify-content: center;
}

.headerList {
  display: flex;
  margin-bottom: 5%;
  flex-wrap:wrap;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 0.85%;
  border-radius: 20px;
}


.navContainer{
  width: 100%;
  max-width: 76%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #0c8b00;
}

@media screen and (max-width:431px){
  .navbar{
    height: 26vh;
  }
}